
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');


.attribution { font-size: 11px; text-align: center;color: azure;display: block;}
.attribution a { color: hsl(228, 71%, 37%); }
#image {
    
    border-radius: 50%;
    border: 5px solid rgb(255, 255, 255);
    position: absolute;
    left:37%;
    bottom: -33%;

}
.image {
    position: relative;
}
body{
    font-family:'kumbh Sans' sans-serif;
font-size: 18px;
background: hsl(185, 75%, 39%) ;
overflow: hidden; /* to remove scroll bars*/
width: 375;
}

.card{    
    margin-top: 100px;
margin-left: auto;
margin-right: auto;
              
background: white;
width: 360px;
border-radius: 15px;text-align: center;
/* box-shadow: 2px 2px 7px rgb(78, 76, 76);*/

}

#card-image{
    width: 100%;
    border-radius: 15px 15px 0 0 ;
}
.details {
      border-bottom: 0.002rem solid hsl(226, 40%, 84%) ;
      margin-top: 70px;
      line-height: 10px;
      
}
#london {margin-bottom: 57px;}
.content {
    text-align: center; padding: 0px;
    font-family: "kumbh sans" sans-serif;
}
.items {display: inline-block;
        align-items: center;
        justify-content: center;
        margin: 20px; line-height: 5px;
        margin-top: 14px;margin-bottom: 35px;
        
}
h1,h2{
    color:hsl(229, 23%, 23%) ;
}
.thin,span{
    color:hsl(227, 10%, 46%);
    font-weight: 400;
}
span {
    font-size: 13px;
    letter-spacing: 0.08rem;
}
h1 {font-weight: 700; font-size: 22px;}
h2{ font-size: 20px;}
#age{font-size: 25px ; font-size: 22px;}
#london {margin-top:20px;}



#bg-top{ 
        position: absolute;
        left: -160%;
        top: -115%;
        z-index: -1;
    }
    #bg-bottom{
        position: absolute;
        right: -160%;
        bottom: -115%;
        z-index: -1;
    }
@media (width:1000px),(orientation:landscape) {
    #bg-top{ 
    position: absolute;
    left: -30%;
    top: -70%;
    z-index: -1;
}
#bg-bottom{
    position: absolute;
    right: -20%;
    bottom: -95%;
    z-index: -1;
}
body {
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}
}
